<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077660506135-np3drc9n2ltqqiom99oofs9r4rqq53h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077660506135-np3drc9n2ltqqiom99oofs9r4rqq53h7</string>
	<key>API_KEY</key>
	<string>AIzaSyDo6VlxCdiEFDICJ25RVWTqOBZdioCpbxk</string>
	<key>GCM_SENDER_ID</key>
	<string>1077660506135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beyondconfident.com.EL3</string>
	<key>PROJECT_ID</key>
	<string>el3chatgpt</string>
	<key>STORAGE_BUCKET</key>
	<string>el3chatgpt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077660506135:ios:717bc4a8c009a9ad4da452</string>
</dict>
</plist>